.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-top: #d9d9d9 1px solid;
  margin-left: 4rem;
  margin-right: 4rem;
  gap: 2rem;
  margin-bottom: 5rem;
  padding-right: 10rem;
}

.top {
  font-size: 2rem;
  color: #ed9b40;
  font-family: AlegreyaSans;
}

.center{
  margin-left: 2rem;
  font-size: 1.3rem;
}
.bottom {
  margin-left: 2rem;
  display: flex;
  gap: 2rem;
}
.link:hover {
  color:#ed9b40;
}