html,
body {
  padding: 0;
  margin: 0;
  background-color: #090909;
  color: #D9D9D9;
}

a {
  color: #D9D9D9;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

@font-face {
  font-family: "AbrilFatface";
  src: url("/fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "AlfaSlabOne";
  src: url("/fonts/AlfaSlabOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: 400;
}

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/Alegreya-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSans";
  src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
}